html(lang='fr')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='wnameth=device-wnameth, initial-scale=1.0')
    title Menu Editor
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    title AdminPanel
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
  body
    br
    h1.text-center  Menu Editor 
    br
    table.table.table-striped.table-bordered(name='dtBasicExample', cellspacing='0', wnameth='100%')
      thead
        tr
          th.th-sm
            | Jour
          th.th-sm
            | Entré
          th.th-sm
            | Plat
          th.th-sm
            | Dessert
          th.th-sm Confirmer
      tbody
      form(action='/', method='POST')
        tr
          td Lundi
          td
            input(type='text', name='lundientre')
          td
            input(type='text', name='lundiplat')
          td
            input(type='text', name='lundidessert')
          td
            button.btn.btn-primary(name='Lundi', type='button, submit') send
        tr
          td Mardi
          td
            input(type='text', name='mardientre')
          td
            input(type='text', name='mardiplat')
          td
            input(type='text', name='mardidessert')
          td
            button.btn.btn-primary(name='Mardi', type='button, submit') send
        tr
          td Jeudi
          td
            input(type='text', name='jeudientre')
          td
            input(type='text', name='jeudiplat')
          td
            input(type='text', name='jeudnameessert')
          td
            button.btn.btn-primary(name='Jeudi', type='button, submit') send
        tr
          td Vendredi
          td
            input(type='text', name='vendredientre')
          td
            input(type='text', name='vendrediplat')
          td
            input(type='text', name='vendrednameessert')
          td
            button.btn.btn-primary(name='Vendredi', type='button, submit') send

